
html,body{
	width:100%;
	height:100%;
}

.slapcode>.navbar{
	margin-bottom:20px;
	position: fixed;
	width: 100%;
	z-index: 99;
}

.slapcode>.navbar .navbar-inner{
	border-radius:0;
}


.slapcode > div.tabs{
	height:75px;	
	width: 100%;
	z-index: 30;
	position: absolute;
}

.slapcode > div.tabs .nav{
	padding-top:39px;
	background: #EEE;
	background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(whiteSmoke));
	background: -moz-linear-gradient(top, #D1D1D1, #E1E1E1);
}

.slapcode > div.tabs .nav a{
	color:#888;
}
.slapcode > div.tabs .nav a i{
	margin-right: -5px;
	opacity: 0.1;
}
.slapcode > div.tabs .nav a i:hover{
	opacity:0.5;
}
.slapcode .modal{
	display: none;
}
.openprompt{
	padding:7px 0;
	display: none;
}
.modal-backdrop, .modal-backdrop.fade.in {
	opacity: 0.3;
}

div.install{
	margin: 60px auto;
	
	width: 700px;
	text-align: center;
	
}
div.install a{
	margin-top: -8px;
	margin-left: 24px;
}


div.content{
	margin:auto;
	padding:0 0 0 0;
	overflow-x: hidden;
	height: 100%;
	
}



div.openfile{
	float:left;
	width:100%;
	margin-right:20px;
	position:relative;
	display: none;
	height: 100%
}
div.openfile:hover{}

div.openfile div.context{

width: 630px;
position: fixed;
height: 1px;
z-index: 100;
top: 6px;
	
}
div.openfile div.context div.btn-group{
	float: right;
}
div.output{
	float: left;
	width: 580px;
	position: fixed;
	right: 0;
	bottom: 0;
	max-height: 100%;

	overflow-y: auto;
	overflow-x: hidden;

	margin-right: -20px;
	padding-right: 20px;	
	
}

div.output:hover{z-index: 40;}

div.output div.result{
	padding: 20px;
	background: white;
	white-space: pre-wrap;
	margin:50px auto 20px auto;
	transition: background-color 400ms ease-out;
}
div.output div.result.pulse{
	background: #DDD;
	transition: background-color 50ms linear;

}


div.output div.result,
div.output div.debug{
	border: 1px dotted #CCC;
	border-radius: 3px;
}
div.output div.debug{
	margin:0 auto 8px auto;
	width: 562px;
}


div.debug div.errorstack{
	top: 43px;
	bottom: auto !important;
	display: none;
}

div.debug label{
	display: inline-block;
	font-size: 11px;
	line-height: 15px;
}
div.debug p{
	white-space: pre-wrap;
}
div.openfile .CodeMirror{
	border: 1px dotted #CCC;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	background: white;
}

div.openfile .CodeMirror-scroll{
	height:auto;
	overflow: visible;
}

form.code{
	height: 100%;
	margin:0;
}

form.code .editor{
	width:100%;
	height: 100%;
	margin-top:	0;
}


form.code div.feedback{
	position: absolute;
	display:none;
	max-width: 240px;
	z-index: 10;
	margin-top: 6px;
	margin-left: -4px;
	padding: 4px 6px;
	background: white;
	border: 1px solid red;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(190, 0, 0, 0.2);
	font-size: 11px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #C00;
}

form.code div.feedback:before{	
	content: "x";
	width: 0;
	height: 0;
	margin-top: -10px;
	margin-left: -5px;
	position: absolute;
	overflow: hidden;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
}




/* DARK STYLE */
 
body{
	background-color: #323131;
}

.nav-tabs {
	border-bottom: 1px solid #333;
}

.nav-tabs > li > a:hover {
	color: #555555;
	background-color: #333;
	border: 1px solid #111;

	border-bottom-color: transparent;
}


.nav-tabs > .active > a, 
.nav-tabs > .active > a:hover {
	color: #555555;
	background-color: #2F3129;
	border: 1px solid #000;
	border-bottom-color: transparent;
}

.slapcode > div.tabs .nav{
	background: #222121
}

form.code div.feedback {
	position: absolute;
	display: none;
	max-width: 500px;
	margin-top: -52px;
	margin-left: -4px;
	margin-left: 2px;
	padding: 4px 6px;
	background: rgba(32, 28, 28, 0.94);
	border: 1px solid rgba(255, 255, 255, 0.23);
	border-radius: 2px;
	font-size: 11px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #737070;
	z-index: 10;
	text-shadow: none;
	box-shadow: none;
}

form.code div.feedback:before{	
	border-bottom: 5px solid rgb(128, 113, 113)
}

